@page "/MicroservicesDemo"
@using Microsoft.Extensions.Localization
@using global::MicroservicesDemo.Localization
@inject IStringLocalizer<MicroservicesDemoResource> L
@{
}
<h1>MicroservicesDemo</h1>
<p>@L["SamplePageMessage"]</p>