@page
@using Microsoft.Extensions.Localization
@using MicroservicesDemo.Localization
@model MicroservicesDemo.Web.Pages.MicroservicesDemo.IndexModel
@inject IStringLocalizer<MicroservicesDemoResource> L
@{
}
<h1>MicroservicesDemo</h1>
<p>@L["SamplePageMessage"]</p>
