@using Microsoft.AspNetCore.Mvc.Localization
@using MicroservicesDemo.Localization
@inject IHtmlLocalizer<MicroservicesDemoResource> L
<a class="nav-link" role="button" href="~/Account/Login">@L["Login"]</a>
